*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;

    background-color: rgb(0, 150, 226);
    border-style: solid;
    border-width: 1px;
}
.div1 .logo{
    color: white;
    font-size: small;
    
}
.div1 .navbar{
    
}
.div1 .navbar ul{
    display: flex;
    margin: 10px;
    

}
.div1 .navbar ul li{
    font-size: 20px;

    
    

    
    list-style: none;
}
.div1 .navbar ul li a{
    margin-right: 5px;
    text-decoration: none;
    color: white;

}



.timeline{
    
    padding: 2%;
    background-color: rgb(187, 236, 255);
    
}
.timeline .content{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    
    background-color: rgb(60, 132, 220);
    
    
    
}
.timeline .content p{
    padding: 100px;
    
    
    
}




footer p{
    text-align: center;
    
    
    background-color: rgb(246, 253, 142);
}

@media (max-width: 600px){
    body{
        background-color: rgb(191, 191, 191);

    }

    
}